<head></head>

<main>

  <!-- stylable as it's linked to a actual DOM element -->
  <div proto-ui-table-container>

    <h1>
      Table Header outside ActionBar
    </h1>

    <div proto-ui-table-action-bar color="primary" (export)="export()" (print)="print()" (columnSelection)="columnSelection()">

      <span>I'm the ActionBar</span>

      <span class="spacer"></span>

      <button mat-icon-button color="accent">
        <mat-icon>info</mat-icon>
      </button>

      <button mat-icon-button proto-ui-table-export-action color="accent">
        <mat-icon>file_download</mat-icon>
      </button>

      <button mat-icon-button color="accent">
        <mat-icon>power_settings_new</mat-icon>
      </button>

      <button mat-icon-button proto-ui-table-print-action color="accent">
        <mat-icon>print</mat-icon>
      </button>

      <button mat-icon-button proto-ui-table-column-selection-action color="accent">
        <mat-icon>view_column</mat-icon>
      </button>

      <button mat-icon-button color="accent">
        <mat-icon>settings</mat-icon>
      </button>

    </div>

    <hr>

    <proto-ui-table></proto-ui-table>

    <hr>

    <proto-ui-table-paginator color="primary"></proto-ui-table-paginator>

  </div>

</main>

<footer></footer>