.proto-ui-table-container {
    padding: 1em;

    .proto-ui-table-action-bar {
        padding: 0 1em;
    
        display: flex;
        flex-direction: row;
        align-items: center;
    
        span.spacer {
            flex-grow: 1;
        }
    }
}